.hero {
  padding: 74px 16px  0;
  &__picture {
      box-sizing: content-box;
    width: 96px;
    height: 96px;
    border: 16px solid #F6F9FD;
    border-radius: 50%;
    
  }
  &__contact {
     border-radius: 64px;
      display: flex;
      justify-content: center;
      align-self: center;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px;
      color:#ffff;
      padding: 4px 24px;
      background: $textLink;
      justify-content: center;
      text-decoration: none;
      margin-bottom: 88px;
    
      

  }
  &__image-container {
      display: flex;
      justify-content: center;
      align-self: center; 
  }
  &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      
  }
  &__hello{
      display: none;
  }
  &__header {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: $textDark;
    margin-bottom: 16px;
      
  }
  &__link {
    font-weight: bold;
    text-decoration: none;
    color: $textLink;
  }
  &__paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 48px;
  }
  &__special {
      color: $blue;
      
  }
}
