@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
html {
  box-sizing: border-box;
}
*,
*:before,
* :after {
  box-sizing: inherit;
}

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.hero__picture {
  max-width: 178px;
  
}